$ff : "PT Sans Narrow", sans-serif;
body {
	font-size: 14px;
	font-family: $ff;
	font-weight: 700;
	line-height: 24px;
	background: #000000 url('../img/header-bg.jpg') no-repeat center top;
	min-width: 960px;
	text-transform: uppercase;
	color: #fff;
}
img {
	max-width: 100%;
	height: auto;
}
.inner-page {
	color: #000;
	background: #f8f3f0 url('../img/patter-w.jpg');
	.main-header {
		margin-bottom: 55px;
	}
}		
.inner-page-title h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;

	.current {
		color: #aba9a7;

		&:after {
			display: none;
		}
	}

	li {
		position: relative;
		display: inline;
		padding-right: 40px;

		&::after {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			background-color: #000;
			top: 4px;
    	right: 18px;
    	transform: rotate(45deg);
		}
	}

	a {
		color: #000;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
.inner-content {
	margin-bottom: 75px;

	h2 {
		margin-top: 60px;
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 30px; 
	}

	p {
		margin: 14px 0 ;
	}

	table {
		border-collapse: collapse;
	}

	td {
		padding: 10px 15px;
		border: 2px solid #000;
	}
}
.big-heading {
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;

	h2 {
		position: relative;
		z-index: 2;
		display: inline-block;
		margin: 0;
		padding: 0 25px;
		font-size: 48px;
		line-height: 48px;
		text-align: center;
		background: #f8f3f0 url('../img/pattern-w.jpg') repeat;
	}

	&::after {
		content: '';
		display: block;
		border-bottom: 2px solid #000;
		position: relative;
		z-index: 1;
		top: -25px;
	}
}
.custom-list-1 {
	padding: 0;
	margin: 14px 0;
	list-style: none;

	li {
		position: relative;
		margin-bottom: 15px;
		padding-left: 20px;

		&::before {
			content: '';
			position: absolute;
			top: 8px;
			left: 0;
			width: 8px;
			height: 8px;
			background-color: #000;
			transform: rotate(45deg);
		}
	}
}
.prices-table {
	width: 100%;

	td {
		width: 50%;

		&:last-child {
			text-align: center;
		}
	}
}
.inner-columns {
	margin: 60px 0;
}
.inner-column-left,
.inner-column-right {
	width: 460px;
	
	*:first-child {
		margin-top: 0;
	}
	
	*:last-child {
		margin-bottom: 0;
	}

}
.inner-column-left {
	float: left;
}
.inner-column-right {
	float: right;

}
.short-text {
	padding-right: 80px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.main-header {
	margin-bottom: 60px;
	background-color: #000;
	color: #fff;
}
.main-navigation {
	width: 780px;
	float: left;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		line-height: 20px;
	}
	.active {
		position: relative;
		background: none;

		span {
			display: block;
			padding: 25px 20px;
		}

		a:hover {
			background: none;
		}
		&::after {
			content: "";
			position: absolute;
			height: 5px;
			background-color: #fff;
			bottom: 0;
			left: 20px;
			right: 20px;
		}
	}	
	a {
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 25px 20px;
		&:hover {
			background: #242424;
		}
	}
}
.user-block {
	width: 140px;
	float: right;
}
.login {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	padding-left: 50px;
	position: relative;
	&:hover {
		background: #242424;
		&::before {
			opacity: 1;
		}
	}
	&::before {
		content: "";
		width: 18px;
		height: 18px;
		position: absolute;
		top: 28px;
		left: 20px;
		background: url(../img/sprite.png) -10px -10px no-repeat;
		opacity: 0.3;
	}
}
.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
	img {
		width: 368px;
		height: 204px;
	}
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
	&:last-child{
		margin-right: 0;
	}
	p {
		margin: 10px;
		margin-bottom: 0;
	}
}
.features-name {
	display: block;
	position: relative;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;
	padding-bottom: 35px;
	&::after {
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		background-color: #fff;
		bottom: 0;
		left: 50%;
		margin-left: -10px;
		transform: rotate(45deg);
	}
}
.features {
	margin-bottom: 80px;
}
.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
	color: #000;
	background: url(../img/shadow.png)no-repeat center,
	 #f8f5f2 url(../img/pattern.png);
}
.index-content-title {
	font-size: 30px;
	line-height: 42px;
	margin: 0;
	margin-bottom: 25px;
}
.index-content-left {
	float: left;
	width: 380px;
}
.index-content-right {
	float: right;
	width: 300px;
}
.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;
	list-style: none;
	li {
		margin-bottom: 25px;
	}
	p {
		margin: 0;
	}
	time {
		text-transform: none;
		font-weight: 400;
	}
}
.btn {
	color: #fff;
	background: #000;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 33px;
	margin-right: 16px;
	font-weight: 700;
	font-family: $ff;
	text-transform: uppercase;
	text-decoration: none;
	&:hover,
	&:active {
		background-color: #663d15;
	}
	.disabled,
	&:disabled {
		cursor: default;
		opacity: 0.5;
		&:hover {
	   background-color: #000;
	  }
	}
}
.gallery {
	position: relative;
	height: 260px;
	.btn {
		position: absolute;
		bottom: 0;
		width: 140px;
		margin: 0;
	}
	.gallery-prev {
		left: 0;
	}
	.gallery-next {
		right: 0;
	}
}
.gallery-content {
	 height: 164px;
	 margin: 0;
	 background-color: #ccc;
	 border: 7px solid #fff;
	 img {
	 	width: 286px;
	 	height: 164px;
	 }
}
.content-left-paragraf {
	margin: 0;
	margin-bottom: 20px;
}
.appointment-form input {
	float: left;
	width: 106px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 7px 15px;
	font-size: 14px;
	line-height: 24px;
	font-family: $ff;
	color: #000;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
	&:nth-child(2n) {
		margin-right: 0;
	}
	&:focus {
		border: 2px solid #663d15;
	}
}
.appointment-form .btn {
	clear: both;
	width: 100%;
}
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	color: #fff;
	background: #252525 url(../img/pattern-bl.png);
}
.footer-contacts {
	width: 320px;
	float: left;
	margin-right: 60px;
	a {
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
}
.footer-social {
	float: left;
	width: 180px;
	text-align: center;
	p {
		margin: 0;
		margin-bottom: 15px;
	}
}
.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	vertical-align: top;
	text-decoration: none;
	background: #000 url(../img/sprite.png)no-repeat center;
	font-size: 0;
	  &:hover {
    background-color: #fff;
  }
  transition:
  	background-position 0.5s,
  	background-color 0.5s;
}
.social-btn-vk {
	background-position: -1px -69px;
	&:hover {
		background-position: -1px -32px;
	}
}
.social-btn-fb {
	background-position: 5px -233px;
	&:hover {
		background-position: 5px -190px;
	}
}
.social-btn-inst {
	background-position: 1px -148px;
	&:hover {
		background-position: 1px -108px;
	}
}
.footer-copyright {
	max-width:  180px;
	float: right;
	p {
		margin: 0;
		margin-bottom: 15px;
		text-align: center;
	}
	.btn {
		margin-right: 0;
	}
}
.modal-content {
	display: none;
	width: 300px;
	padding: 50px 80px;
	color: #000;
	background: #f8f3f0 url('../img/patter-w.jpg');
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

	h2 {
		margin: 0;
		margin-bottom: 20px;

		font-size: 30px;
		line-height: 42px;
	}

	p {
		margin: 0;
		margin-bottom: 14px;
	}

	.login-form {
		margin-top: 30px;
		margin-bottom: 10px;

		input[type="text"],
		input[type="password"] {
			font-size: 14px;
			line-height: 24px;
			font-family: $ff;
			font-weight: 700;
			color: #000;
			text-transform: uppercase; 
			width: 236px;
			margin: 0;
			margin-bottom: 10px;
			padding: 10px 20px;
			padding-right: 40px;
			background-color: #f9f6f3;
			border: 2px solid #000;
			outline: none;

			&:focus {
				border-color: #663d15;
			}

		}
	}
}
@keyframes bounce {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.modal-content-show {
	display: block;
	animation: bounce 0.6s;
}
.modal-error {
	animation: shake 0.6s;
}
.login-form input.icon-user {
	background-image: url('../img/sprite-form.png');
	background-repeat: no-repeat;
	background-position: 100% 3px;
}
.login-form input.icon-password {
	background-image: url('../img/sprite-form.png');
	background-repeat: no-repeat;
	background-position: 100% -33px;
}
.login-checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;

	&:hover {
		color: #663d15;
	}

	input[type="checkbox"] {
		display: none;

		+.checkbox-indicator {
			position: absolute;
			top: -3px;
			left: 0;
			width: 17px;
			height: 17px;
			border: 2px solid #000;
		}

		&:checked + .checkbox-indicator::before,
		&:checked + .checkbox-indicator::after {
			content: '';
			position: absolute;
			top: 8px;
			left: 1px;
			width: 15px;
			height: 2px;
			background-color: #000;
		}
		
		&:checked + .checkbox-indicator::before{
			transform: rotate(45deg);
		}

		&:checked + .checkbox-indicator::after{
			transform: rotate(-45deg);
		}

	}

}
.modal-content-close {
	width: 22px;
	height: 22px;
	font-size: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	top: 0;
	right: -34px;
	position: absolute;
	background: none;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 19px;
		height: 3px;
		background-color: #d0d0d0;
		border-radius: 1px;
		top: 10px;
		left: 2px;
	}
	&::after {
		transform: rotate(-45deg);
	}
	&::before {
		transform: rotate(45deg);
	}
}
.modal-content-map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;
	background: #e9e5dc url('../img/map.png');
	border: 7px solid #fff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.item .inner-column-left {
	width: 460px;
}
.columns-left-content {
	margin: 0;
	box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
	width: 460px;
	height: 498px;
	margin-bottom: 20px;

	img {
		width: 460px;
		height: 498px;
	}

}
.imgblock {
	float: left;
	margin: 0 10px;
	box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
	width: 140px;
	height: 149px;

	img {
		width: 140px;
		height: 149px;
	}

	&:first-child {
		margin-left: 0;
	}

	&:nth-child(3n) {
		margin-right: 0;
	}
}
.item .inner-column-right {
	margin-left: 80px;
	width: 380px;
}
.item .product-description {
	margin-top: 20px;
	position: relative;

	p {
		font-family: $ff;
		font-size: 14px;
		line-height: 24px;
		color: #000;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
}
.product-description span {
	color: #aeaeae;
	position: absolute;
	right: 0;
	top: 0;
}
.product-price {
	font-size: 0;
	margin-bottom: 55px;
	span {
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		text-transform: uppercase;
		color: #000;
		padding: 13px 27px;
    background-color: #e5e5e5;
    display: inline-block;
	}
	.btn {
		margin: 0;
		margin-left: -1px;
	}
}
.product-composition-list {
	list-style: none;
	position: relative;
	padding: 0;

	li {
		position: relative;
		padding-left: 20px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 7px;
			width: 10px;
			height: 10px;
			background-color: #000;
			transform: rotate(45deg);

		}
	}
}
.item {
	margin-bottom: 0;
}
.item .inner-columns  {
	margin-bottom: 35px;
}
.main-footer.item-footer {
	margin-top: 0;
}
.shop .inner-column-left {
	width: 220px;
}
.shop .inner-column-right {
	width: 720px;
}
.manufactures,
.product-group {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 18px;
  display: inline-block;

  &:hover {
	  color: #663d15;
	}
}

.manufactures input[type="checkbox"],
.product-group input[type="radio"] {
  display: none;
}
.manufactures input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000;
}
.manufactures input[type="checkbox"]:checked + .checkbox-indicator::before,
.manufactures input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000;
}
.manufactures input[type="checkbox"]:checked + .checkbox-indicator::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.manufactures input[type="checkbox"]:checked + .checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.column-left-form h2:last-child {
	margin-top: 50px;
}
.product-group input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
}
.product-group input[type="radio"]:checked + .radio-indicator::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}
.column-left-form .btn {
	margin-top: 50px;
}
.grid-item {
	width: 220px;
	margin: 0 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
	float: left;
	background-color: #fff;
}
.grid-item-link {
	margin: 15px 0;
	margin-left: 15px;
}
.grid-item-link {
	text-transform: none;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	font-family: $ff;
	color: #000;

	a {
		text-transform: uppercase;
		text-decoration: none;
		color: #000;
	}

}
.inner-column-right .column-right-grid {
	margin-bottom: 45px;
}
.column-right-grid .grid-item-price {
	font-size: 0;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: $ff;
	color: #000;
	margin: 0 16px;
	margin-bottom: 16px;

	.btn {
		margin: 0;
		padding: 10px 18.5px;
	}

	span {
		font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    padding: 13px 0;
    width: 109px;
    text-align: center;
    background-color: #e5e5e5;
    display: inline-block;
	}

}
.pagination {
	list-style: none;
	font-size: 14px;
	font-weight: 700;
	font-family: $ff;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	padding-left: 10px;
	
	li {
    display: inline-block;

    a {
			background-color: #000;
			color: #fff;
			text-decoration: none;
	    padding: 10px 18.5px;
	    margin-right: 7px;
		}

		.active {
	  	background-color: #fff;
	  	color: #000;
  	}

	}

}
.shop {
	margin: 0;
}
.shop .inner-columns {
	margin-bottom: 45px;
}
.shop-footer {
	margin-top: 0;
}